.modal-container {
	max-width: 600px;
	width: 92vw;
	max-height: 92vh;
	overflow-y: scroll;
	background: $gray-01;
    padding: calc($btn-margin * 2);
	border-radius: calc($btn-margin * 4);
	box-sizing: border-box;

	.modal-options {
		display: flex;
		justify-content: flex-end;
		font-size: $font-18;
		:global(.primary-button) {
			height: calc($btn-size);
			flex: 1;
			border-radius: calc($btn-margin * 3);
		}
	}

	.modal-title {
		font-size: $font-20;
		font-weight: bold;
		opacity: 0.8;
		margin: calc($btn-margin * 4) calc($btn-margin * 2);
	}
}

.modal-overlay {
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.5);
}
