.modal-container {
	max-width: 600px;
	width: 92vw;
	max-height: 92vh;
	overflow-y: scroll;
	background: $gray-01;
    padding: $btn-margin;

	.modal-options {
		display: flex;
		justify-content: end;
		font-size: $font-18;
		:global(.primary-button) {
			height: calc($btn-size);
			flex: 1;
		}
	}

	.modal-title {
		font-size: $font-20;
		font-weight: bold;
		opacity: 0.8;
		margin: calc($btn-margin * 4) calc($btn-margin * 2);
	}
}
