.audio-btn {
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: none;
	border: none;
	color: inherit;
	@include flex-center;
}

.audio-btn__hidden {
    transition-delay: 3s;
	transition: all 2s ease-in-out !important;
	opacity: 0;
	pointer-events: none;
}
