.type-item {
	@include flex-center;
	width: $button-size * 2 !important;
	> svg {
		opacity: 0.8;
	}
}

.type-input {
	@include flex-center;
	font-size: 18px;
	color: $white-01;
	border: 0px;
	outline: 0px;
	background: none;
	width: $button-size * 2 !important;
	padding: 0px 10px;
	&:focus {
		width: $button-size * 3 !important;
	}
}
.type-input-controller {
	display: flex;

	.type-input-item {
		@include flex-center;
		width: $button-size - $button-margin;
		opacity: 0.8;
	}
}
