
// 响应式参数
$mobileLayout: "(max-width: 499px)";
$pcLayout: "only screen and (min-width: 499px)";

// 响应式变量
:root {
	--space-4: 4px;
	--space-6: 6px;
	--space-8: 8px;
	--space-10: 10px;
	--space-12: 12px;
	--space-16: 16px;
	--space-20: 20px;
	--space-24: 24px;

	--btn-size: 40px;
	--btn-radius: 2px;
	--btn-margin: 2px;

	--font-10: 10px;
	--font-12: 12px;
	--font-14: 14px;
	--font-16: 16px;
	--font-18: 18px;
	--font-20: 20px;
	--font-22: 22px;

	@media #{$mobileLayout} {
		--space-4: 2px;
		--space-6: 4px;
		--space-8: 6px;
		--space-10: 8px;
		--space-12: 10px;
		--space-16: 12px;
		--space-20: 14px;
		--space-24: 16px;

		--btn-size: 32px;
		--btn-radius: 2px;
		--btn-margin: 1.6px;

		--font-10: 10px;
		--font-12: 10px;
		--font-14: 12px;
		--font-16: 14px;
		--font-18: 16px;
		--font-20: 17px;
		--font-22: 18px;
	}
}


