@mixin flex-center($direction: column) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin touch-color($color: $yellow-primary, $hover-color: $yellow-second) {
	background: $color;
	@media (any-hover: hover) {
		&:hover {
			background: $hover-color;
		}
	}
}
