// @import './global.scss';

$gray-primary: rgb(94, 101, 105);
$gray-second: rgba($gray-primary, 60%);
$gray-checked: rgb(123, 141, 151);
$gray-01: rgb(63, 67, 69);
$gray-02: rgb(49, 53, 54);
$gray-03: rgb(46, 49, 51);
$gray-07: rgb(23, 25, 26);

$yellow-primary: rgb(199, 156, 15);
$yellow-second: rgb(168, 131, 7);

$blue-primary: rgb(15, 145, 224);
$blue-second: rgb(62, 148, 202);
$blue-third: rgb(47, 120, 165);

$white-01: rgb(232, 230, 227);

$button-size: 40;
$button-margin: 2;

@mixin flex-center($direction: column) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

:export {
	button_size: $button-size;
	button_margin: $button-margin;

	gray_primary: $gray-primary;
	gray_second: $gray-second;
	yellow_primary: $yellow-primary;
}
