:global(.scroll-without-bar) {
	overflow: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
	&::-webkit-scrollbar {
		display: none; /* Chrome Safari */
	}
}

:global(.buitar-primary-button) {
	margin: $button-margin + px;
	border-radius: $button-margin + px;

	width: $button-size + px;
	height: $button-size + px;
	background: $gray-primary;
	transition: all 0.15s linear;
	overflow: hidden;
	cursor: pointer;

	@media (any-hover: hover) {
		&:hover {
			background: $gray-second;
		}
	}
}

:global(.buitar-primary-range) {
	// input[type='range'] {
	-webkit-appearance: none;
	flex: 1;
	width: $button-size * 6;
	height: 4px;
	border-radius: 2px;
	outline: none; /* 避免點選會有藍線或虛線 */
	background: #eee4;
	// }

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 12px;
		height: 12px;
		background: #ccc;
		border-radius: 50%;
		transition: 0.2s; /* 點選放大時候的漸變時間 */
	}

	&:active::-webkit-slider-thumb {
		width: 16px;
		height: 16px;
	}
}

:global(.hidden) {
	display: none;
}

:global(.icon) {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

:global(.touch-yellow) {
	@include touch-color;
}
:global(.touch-blue) {
	@include touch-color($blue-primary, $blue-second);
}
:global(.touch-green) {
	@include touch-color($green-primary, $green-second);
}
:global(.touch-cyan) {
	@include touch-color($cyan-primary, $cyan-second);
}
:global(.touch-purple) {
	@include touch-color($purple-primary, $purple-second);
}
