:global(.scroll-without-bar) {
	overflow: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
	&::-webkit-scrollbar {
		display: none; /* Chrome Safari */
	}
}

:global(.buitar-primary-button) {
	margin: $button-margin;
	border-radius: $button-margin;

	width: $button-size;
	height: $button-size;
	background: $gray-primary;
	transition: all 0.15s linear;
	overflow: hidden;
	cursor: pointer;

	@media (any-hover: hover) {
		&:hover {
			background: $yellow-primary;
		}
	}
}

:global(.hidden) {
	display: none;
}

:global(.icon) {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
