$sound-margin: 1;
$sound-height: 30;

// es module 使用
:export {
	sound_margin: $sound-margin;
	sound_height: $sound-height;
}

.sound {
	display: flex;

	.sound-head {
		@include flex-center;
		font-size: 12px;
		font-weight: 700;
		opacity: 0.8;
		width: $btn-size !important;
		letter-spacing: 1.5px;
	}

	.sound-list {
		display: flex;
		position: relative;
		overflow: hidden;
	}

	.sound-item {
		height: $sound-height + px;
		margin: $sound-margin + px !important;
	}

	.sound-item-active {
		position: absolute;
		transition: none;
	}

	.sound-item-handler {
		position: absolute;
		height: calc($sound-height / 2) + px;
		width: 14px;
		height: 100%;
		right: 0px;
		opacity: 0.6;
		cursor: ew-resize;
		@include flex-center;
		&-view {
			pointer-events: none;
			width: $sound-margin * 3px;
			height: $sound-height * 0.6px;
			border-radius: $sound-margin * 2px;
			background-color: $white-01;
			opacity: 0.6;
		}
	}

	.sound-item-ghost {
		position: absolute;
		background: #aaa;
		pointer-events: none;
	}
}

.sound-container {
	position: relative;

	.sound-line {
		position: absolute;
		height: 100%;
		width: $sound-margin * 2 + px;
		top: 0px;
		z-index: -1;
		background: #222c;
	}

	.sound-time-line {
		position: absolute;
		height: 100%;
		left: 42px;
		width: $sound-margin * 2 + px;
		top: 0px;
		z-index: 1;
		background: #eee8;
		visibility: hidden;

		&.sound-time-visible {
			visibility: visible;
		}
	}
}

.player-controller {
	display: flex;
	flex-direction: row;

	.player-icon {
		margin: $sound-margin + px;
		width: calc($btn-size * 1.2) !important;
		@include flex-center(row);
		:first-child {
			opacity: 0.8;
		}
	}

	.player-range {
		@include flex-center(row);
		margin: $sound-margin + px;
		padding: 0 8px;
		justify-content: start;
		width: fit-content;
		.player-range-text {
			font-size: 14px;
			font-weight: 600;
			opacity: 0.8;
			letter-spacing: 0.5px;
			margin-right: 4px;;
		}
		.player-range-bpm {
			font-size: 16px;
		}
	}

	.player-m {
		font-size: 18px;
		font-weight: 700;
		opacity: 0.8;
	}
}

:global(.draggable-style) {
	background: $white-01 !important;
}

:global(.overed-activity-style) {
	opacity: 0.1;
}
