.selector {
	display: flex;
	flex-wrap: wrap;
	max-height: calc($btn-size * 4);
	.selector-item {
		width: auto;
		flex-direction: row;
		padding: calc($btn-margin * 4) calc($btn-margin * 8);
		font-size: $font-14;
		svg {
			margin-right: calc($btn-margin * 2);
		}
	}
	.selector-item__checked {
		@include touch-color;
	}
}
