.route-item {
	width: fit-content;
	height: 100%;
	color: $white-01;
	text-decoration: none;
    padding: calc($btn-margin * 2) calc($btn-margin * 3);
    display: block;
}

.intro-title {
	font-size: 40px;
	font-weight: bold;
	opacity: 0.8;
	margin-bottom: 24px;
}
