.list {
	// display: flex;

	.title-view {
		position: relative;
		display: flex;

		.title-text {
			padding: 0 calc($btn-size * 0.4);
			font-weight: bold;
			white-space: nowrap;
			flex: 1;
			@include flex-center();
		}

		.title-btn {
			min-width: calc($btn-size);
			margin-left: $btn-margin;
			@include flex-center();
		}

		.title-sub-text {
			margin-left: calc($btn-size * 0.2);
			font-weight: 300;
			font-size: $font-14;
			white-space: nowrap;
			flex: 1;
			display: flex;
			align-items: end;
			justify-content: start;
		}
	}
}

.card {
}

.data-list {
	display: flex;
	width: fit-content;
}
