$switch-size: $button-size * 0.4;

.switch {
	width: $switch-size * 2;
	height: $switch-size;
	border-radius: $switch-size + px;
	background: $gray-01;
	transition: all 0.15s linear;

	.circle {
		width: calc($switch-size - 2) + px;
		height: calc($switch-size - 2) + px;
		border-radius: calc($switch-size - 2) + px;
		margin: 1px;
		background-color: $white-01;
		transition: all 0.15s linear;
	}
}

.switch-on {
	background: #eeea;

	.circle {
		transform: translateX(calc($switch-size - 0) + px);
	}
}
