%fill-center {
	height: 100%;
	@include flex-center;
}

.container {
	display: flex;
	@media #{$mobileLayout} {
		flex-direction: column;
		width: calc(100vw - 20px);
		.chord-controllers {
			width: auto !important;
		}
	}

	.fifth-circle {
		height: calc($btn-size * 6 + $btn-margin * 4) !important;
		min-width: calc($btn-size * 6 + $btn-margin * 4) !important;
	}

	.chord-controllers {
		// 适配子元素超出可滚动
		width: 0;
		flex: 1;
	}

	.mode-item {
		font-size: 24px;
		text-transform: capitalize;
		@extend %fill-center;

		&::first-letter {
			font-size: 32px;
		}
	}

	.scale-item {
		font-size: 36px;
		@extend %fill-center;

		.scale-item-mode {
			font-size: 12px;
			opacity: 0.8;
			text-transform: capitalize;
		}
	}

	.chord-item {
		padding: 2px;
		white-space: nowrap;
		&-grade {
			opacity: 0.8;
			font-size: $font-12;
		}

		&-note {
			font-size: $font-22;
			line-height: 32px;
		}

		&-tag {
			font-size: $font-16;
		}

		&-scale {
			opacity: 0.8;
			font-size: $font-10;
			white-space: nowrap;
		}
	}
}

.chord-tab {
	width: calc($btn-size * 6);
}

.chord-type {
	display: flex;
	flex-wrap: wrap;

	.tags-item {
		@include flex-center;
		width: calc($btn-size * 1.6);
		height: calc($btn-size * 0.8);
		font-size: $font-12;
		font-weight: 500;
		color: $white-02;
	}
}

.chord-type-tabs {
	width: 98%
}
