$degree-btn-size: calc($btn-size * 1.6);

.degree-controller {
	display: flex;
	flex-wrap: wrap;

	.degree-expand {
		min-width: calc($btn-size * 0.4);
		width: calc($btn-size * 0.4);
		height: $degree-btn-size;
		@include flex-center;
	}

	.degree-btn {
		width: $degree-btn-size;
		height: $degree-btn-size;
		@include flex-center;

		:global(.icon-back) {
			transform: rotate(-90deg);
			transition: transform 0.3s ease-in-out;
		}
		&.icon-expand {
			:global(.icon-back) {
				transform: rotate(90deg);
			}
		}
		
		:global(.icon) {
			font-size: $font-22;
			opacity: 0.4;
		}
		@media (any-hover: hover) {
			&:hover {
				:global(.icon) {
					opacity: 0.6;
				}
			}
		}
	}
}

.degree-container {
	width: 100%;

	.degree-view {
		opacity: 0;
		display: flex;
		animation: show 0.5s forwards;

		.degree-item {
			position: relative;
			width: $degree-btn-size;
			min-width: $degree-btn-size;
			height: $degree-btn-size;
			font-size: 24px;
			white-space: nowrap;
			@include flex-center(row);

			&:hover {
				.degree-item-remove {
					opacity: 0.8;
				}
			}

			.degree-item-tag {
				margin: 6px 0 0 3px;
				font-size: 14px;
				opacity: 0.8;
			}

			.degree-item-remove {
				transition: all 0.15s ease-in-out;
				opacity: 0;
				position: absolute;
				right: 4px;
				top: 4px;
			}
		}

		.degree-item-second {
			width: calc($btn-size * 2);
			height: $btn-size;
			&:hover {
				@include touch-color;
			}
		}

		.degree-remove {
			width: 0px;
			margin: 2px 0px;
			&:hover {
				@include touch-color($purple-primary, $purple-second);
			}
		}

		&:hover {
			.degree-remove {
				display: flex;
				width: $degree-btn-size;
				min-width: $degree-btn-size;
				margin: 2px;
			}
		}
		@media #{$mobileLayout} {
			.degree-remove {
				display: flex;
				width: $degree-btn-size;
				min-width: $degree-btn-size;
				margin: 2px;
			}
		}

		@keyframes show {
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	.tags-view {
		flex-wrap: wrap;

		.tags-item {
			width: calc($btn-size * 2);
			font-size: 14px;
			opacity: 0.8;
			@include flex-center;

			&:hover {
				@include touch-color;
			}
		}
	}

	.degree-view-checked {
		.degree-item {
			@include touch-color;
		}
	}
}

.chord-list {
	flex-wrap: wrap;
	align-content: flex-start;
}
.chord-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 4px;
	&-grade {
		font-size: $font-12;
	}
	&-note {
		font-size: 24px;
		line-height: calc($font-12 * 2.8);
	}
	&-tag {
		font-size: $font-14;
		opacity: 0.8;
	}
	&-name {
		opacity: 0.8;
		font-size: $font-12;
	}
}
