.container {
	display: flex;
}

.controller-inner {
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	padding: 2px 6px;
	:last-child {
		margin-top: 10px;
	}
}

.controller-inner-option {
	.controller-inner-unchecked {
		margin-top: 0px;
		font-weight: 300;
		transition: opacity 0.15s linear;
		opacity: 0;
	}
	&:hover {
		.controller-inner-unchecked {
			opacity: 0.8;
		}
	}

	.controller-inner-intro {
		font-size: 12px;
		margin-top: 4px;
	}
}
