%controller-extends {
	margin: $btn-margin $btn-margin !important;

	&.controller-extend__small {
		width: calc($btn-size * 1.8);
		height: calc($btn-size * 1.4);
	}
	&.controller-extend__medium {
		width: calc($btn-size * 2);
		height: calc($btn-size * 2);
	}
	&.controller-extend__large {
		width: calc($btn-size * 2.6);
		height: calc($btn-size * 2.6);
	}
}

%controller-not-extends {
	width: 0px;
	margin: $btn-margin 0px;
}

.board-controller {
	display: flex;
	flex-direction: row;
	width: fit-content;
	transition: all 0.15s ease-in-out;

	&.board-controller__wrap {
		flex-wrap: wrap;
	}

	.controller {
		width: calc($btn-size * 2);
		height: calc($btn-size * 2);
		@extend %controller-extends;

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
				background: $gray-primary;
			}
		}
	}

	.controller-checked {
		@extend %controller-extends;
		background: $yellow-primary !important;
	}

	.controller-not-extend {
		@extend %controller-not-extends;
	}

	&:hover {
		.controller-not-extend {
			@extend %controller-extends;
		}
	}
}
