@mixin controller-extends {
	margin: $btn-margin $btn-margin !important;

	&.controller-extend__small {
		width: calc($btn-size * 1.8);
		height: calc($btn-size * 1.4);
	}
	&.controller-extend__medium {
		width: calc($btn-size * 2);
		height: calc($btn-size * 2);
	}
	&.controller-extend__large {
		width: calc($btn-size * 2.6);
		height: calc($btn-size * 2.6);
	}
}

%controller-extends {
	@include controller-extends();
}

%controller-not-extends {
	width: 0px;
	height: unset;
	margin: $btn-margin 0px;
}

.board-controller {
	display: flex;
	flex-direction: row;
	width: fit-content;

	&.board-controller__wrap {
		flex-wrap: wrap;
	}

	.controller {
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
				background: $gray-primary;
			}
		}
	}

	.controller-checked {
		@extend %controller-extends;
		background: $yellow-primary !important;
	}

	.controller-extend {
		width: calc($btn-size * 2);
		height: calc($btn-size * 2);
		@extend %controller-extends;
	}

	.controller-not-extend {
		@extend %controller-not-extends;
	}

	.controller-trigger {
		width: calc($btn-size / 3) !important;
		> svg {
			opacity: 0.4;
			transition: all 0.15s ease-in-out;
		}
		&.controller-trigger__extend {
			width: calc($btn-size / 3 + 4px) !important;
			> svg {
				opacity: 0.6;
				transform: rotate(90deg);
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.controller-not-extend {
				@include controller-extends();
			}
		}
	}
}
