.tableture-tab {
	width: calc($btn-size * 8);
}

.tableture-list-options {
	display: flex;
	.tableture-options-mode {
		@include flex-center();
		font-size: 20px;
		position: relative;
		width: calc($btn-size * 2);
		&-tag {
			font-size: 10px;
			position: absolute;
			left: 0px;
			top: 0px;
			opacity: 0.6;
			transform: scale(0.6);
		}
	}

	.tableture-options-range {
		@include flex-center();
		font-size: 12px;
		position: relative;
		width: calc($btn-size * 4);
	}

	.tableture-options-button {
		@include flex-center();
		font-size: 20px;
	}

	.tableture-options-button__active {
		background: $yellow-primary;
		opacity: 1;
	}
}

.tableture-list {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
}
.tableture-list__edit {
    flex-direction: column;
}


.tableture-list-item {
	margin-bottom: calc($btn-size * 0.2);
	margin-right: calc($btn-size * 0.2);
}

.tableture-list-button {
	@include flex-center();
	font-size: 20px;
	width: calc($btn-size * 1.5) !important;
	height: calc($btn-size * 1.5) !important;
    margin-top: calc($btn-size * 0.1) !important;
}

.guitar-size-slider {
	height: calc($btn-size * 0.8) !important;
	width: calc($btn-size * 6) !important;
	padding: 0 12px;
	font-size: 10px;
	display: flex;
	@include flex-center();
	flex-direction: row;
	:global(.buitar-primary-range) {
		margin-left: 12px;
	}
}

.guitar-range-slider {
	width: calc($btn-size * 6 + 24px) !important;
	margin-bottom: calc($btn-margin * 2);
	:global(.buitar-primary-range) {
		width: inherit;
	}
}

.icon-right {
	font-size: 14px;
	position: absolute;
	right: calc($btn-margin * 2);
	opacity: 0.4;
	transition: transform 0.15s ease-in-out;
	&.icon-right__extend {
		opacity: 0.8;
		transform: rotate(90deg);
	}
}
