// @import './global.scss';

$gray-primary: rgb(94, 101, 105);
$gray-second: rgba($gray-primary, 60%);
$gray-third: rgb(123, 141, 151);
$gray-01: rgb(63, 67, 69);
$gray-02: rgb(49, 53, 54);
$gray-03: rgb(46, 49, 51);
$gray-07: rgb(23, 25, 26);

$yellow-primary: rgb(199, 156, 15);
$yellow-second: rgb(168, 131, 7);

$blue-primary: rgb(62, 148, 202);
$blue-second: rgb(47, 120, 165);

$green-primary: rgb(57, 167, 150);
$green-second: rgb(48, 148, 133);

$cyan-primary: rgb(168, 168, 18);
$cyan-second: rgb(145, 145, 14);

$purple-primary: rgb(209, 91, 47);
$purple-second: rgb(189, 80, 41);

$white-01: rgb(232, 230, 227);
$white-02: rgba(202, 201, 199, 0.911);
$white-03: rgba(178, 178, 178, 0.911);

$button-size: 40;
$button-margin: 2;
$mobile-button-size: $button-size * 0.8;
$mobile-button-margin: $button-margin * 0.8;

$mobileLayout: "(max-width: 499px)";
$pcLayout: "only screen and (min-width: 499px)";

@mixin flex-center($direction: column) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin touch-color($color: $yellow-primary, $hover-color: $yellow-second) {
	background: $color;
	&:hover {
		background: $hover-color;
	}
}

:export {
	button_size: $button-size;
	button_margin: $button-margin;

	gray_primary: $gray-primary;
	gray_second: $gray-second;
	yellow_primary: $yellow-primary;
}
