.point {
	z-index: 1;
	position: relative;
	width: calc($btn-size * 1.5) !important;
	height: calc($btn-size * 0.8) !important;
	border-radius: calc($btn-size * 0.4) !important;
	border-bottom: calc($btn-margin * 2) solid $gray-02;

	&.empty-point {
		opacity: 0;

		&:hover {
			opacity: 0.4;
		}
	}
}

.fret-point {
	position: relative;
	list-style-type: none;
	width: calc($btn-size * 2);
	height: calc($btn-size);
	background: rgba($gray-primary, 0.4);

	border-right: $btn-margin solid $yellow-second;

	.point-string {
		z-index: 0;
		position: absolute;
		height: calc($btn-margin * 1.6);
		width: 100%;
		background: rgba($gray-third, 0.6);
		top: calc(50% - $btn-margin * 0.8);
		pointer-events: none;
	}
}

.fret-dots {
    position: absolute;
	.fret-dots-item {
		height: calc($btn-size * 0.32);
		width: calc($btn-size * 0.32);
		border-radius: calc($btn-size * 0.16);
		background: rgba($white-01, 0.5);
        margin: calc($btn-margin);
        opacity: 1;
        transition: all 0.15s ease-in-out;
	}
}

.fret-num-dots {
    margin-top: $btn-margin;
	font-size: $font-16 !important;
    color: rgba($white-01, 0.5);
    font-weight: bold;
	background: rgba($gray-primary, 0.4);
    transition: all 0.15s ease-in-out;
}


