$board-btn-width: calc($btn-size * 1.6);
.board {
	display: flex;
	outline: none;

	.strings {
		@include flex-center(row);
		margin: 0%;
		padding: 0%;
		width: fit-content;
	}

	.board-view {
		display: flex;
		flex-direction: row;
		.frets-zero {
			.point {
				width: $btn-size !important;
				@media (any-hover: hover) {
					&:hover {
						background: $gray-third !important;
					}
				}
			}
		}
		.frets {
			display: flex;
			flex-direction: column;
			position: relative;
			margin: 0%;
			padding: 0%;
			height: fit-content;

			.frets-dot {
				font-size: 30px;
				height: calc($btn-size / 2);
				width: $board-btn-width;
				background: $gray-second;
				line-height: 100%;
				position: relative;
				@include flex-center();

				&:hover {
					background: $gray-primary;
					.frets-dot-text {
						opacity: 0.6;
						transform: translateX(-50%);
					}
					.frets-dot-num {
						opacity: 0.8;
						transform: scale(1.15);
					}
				}

				.frets-dot-text {
					opacity: 0;
					font-size: $font-12;
					font-weight: 700;
					right: calc($btn-margin * 2);
					position: absolute;
					transition: all 0.15s ease-in-out;
				}

				.frets-dot-num {
					opacity: 0.6;
					font-size: $font-16;
					font-weight: bold;
					transition: all 0.15s ease-in-out;
				}
			}

			.frets-hidden {
				height: 0px;
				margin: 0px;
				opacity: 0;
			}
		}
	}
}

.point {
	list-style-type: none;
	width: $board-btn-width !important;
	@include flex-center(row);

	@media (any-hover: hover) {
		&:hover {
			font-size: $font-18;
		}
	}

	.note {
		font-size: $font-16;
		pointer-events: none;
	}

	.interval {
		opacity: 0.6;
		font-size: $font-12;
		line-height: $font-12;
		transform: translateY(1px);
		margin-left: 2px;
		pointer-events: none;
	}

	&.empty-point {
		background: $gray-second !important;
		cursor: auto;
		.note,
		.interval {
			opacity: 0;
		}
		&:hover, &:active {
			.note,
			.interval {
				opacity: 0.4;
			}
		}
	}

	// 如下若干种point风格，以出现越后的优先级越高
	&.fixed-point {
		background: $yellow-primary !important;
	}

	&.tapped-point {
		background: $blue-primary !important;
	}

	&.emphasised-point,
	&:active {
		background: $green-primary !important;
	}

	&.high-fixed-point {
		background: $green-second !important;
	}
}
