.degree-controller {
	display: flex;

	.degree-expand {
		width: calc($button-size / 2);
		height: $button-size * 2;
		@include flex-center;

		&.icon-expand {
			:global(.icon) {
				transform: rotate(90deg);
			}
		}

		:global(.icon) {
			width: 0.7em;
			opacity: 0.6;
			transform: rotate(-90deg);
			transition: transform 0.3s ease-in-out;
		}
	}

	.degree-add {
		width: $button-size * 2;
		height: $button-size * 2;
		@include flex-center;

		&:hover {
			:global(.icon) {
				opacity: 0.6;
			}
		}

		:global(.icon) {
			width: 2em;
			height: 2em;
			opacity: 0.4;
		}
	}
}

.degree-container {
	// flex: 1;

	.degree-view {
		opacity: 0;
		display: flex;
		animation: show 0.5s forwards;

		&:hover {
			.degree-remove {
				display: flex;
				width: $button-size * 2;
				margin: 2px;
			}
		}

		.degree-item {
			position: relative;
			width: $button-size * 2;
			height: $button-size * 2;
			font-size: 24px;
			white-space: nowrap;
			@include flex-center(row);

			&:hover {
				.degree-item-remove {
					opacity: 0.8;
				}
			}

			.degree-item-tag {
				margin: 6px 0 0 3px;
				font-size: 14px;
				opacity: 0.8;
			}

			.degree-item-remove {
				transition: all 0.15s ease-in-out;
				opacity: 0;
				position: absolute;
				right: 4px;
				top: 4px;
			}
		}

		.degree-item-second {
			height: $button-size;
			&:hover {
				@include touch-color;
			}
		}

		.degree-remove {
			width: 0px;
			margin: 2px 0px;
			&:hover {
				@include touch-color($purple-primary, $purple-second);
			}
		}

		@keyframes show {
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	.tags-view {
		flex-wrap: wrap;

		.tags-item {
			width: $button-size * 2;
			font-size: 14px;
			opacity: 0.8;
			@include flex-center;

			&:hover {
				@include touch-color;
			}
		}
	}

	.degree-view-checked {
		.degree-item {
			@include touch-color;
		}
	}
}

.chord-list {
	flex-wrap: wrap;
	align-content: flex-start;
}
.chord-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 4px;
	&-grade {
		font-size: 12px;
	}
	&-note {
		font-size: 24px;
		line-height: 36px;
	}
	&-tag {
		font-size: 14px;
		opacity: 0.8;
	}
	&-name {
		opacity: 0.8;
		font-size: 12px;
	}
}
