.taped-container {
	display: flex;
	@media #{$mobileLayout} {
		flex-wrap: wrap;
	}
	.svg-chord {
		width: calc($btn-size * 5) !important;
		height: calc($btn-size * 5) !important;
		margin: $btn-margin !important;
	}

	.fifth-circle {
		min-width: calc($btn-size * 5);
		height: calc($btn-size * 5);
		background: $gray-second !important;
	}

	.type-list {
		display: flex;
		flex-direction: column;
	}
}

.type-item {
	@include flex-center;
	width: calc($btn-size * 2) !important;
}
