.taped-container {
	display: flex;
	@media #{$mobileLayout} {
		flex-direction: column;
	}
	.svg-chord {
		width: $button-size * 6px !important;
		height: $button-size * 6px !important;
		margin: $button-margin + px !important;
	}

	.fifth-circle {
		width: $button-size * 6px;
		height: $button-size * 6px;
		background: $gray-second !important;
	}

	.type-list {
		display: flex;
		flex-direction: column;
	}
}

.type-item {
	@include flex-center;
	width: $button-size * 2px !important;
}
