.range-slider {
	height: $button-size * 0.8px;
	:global(.buitar-primary-range) {
		width: $button-size * 4px;
		border-radius: 2px;
        height: inherit;
		&::-webkit-slider-thumb {
			height: $button-size * 0.8px;
			width: var(--thumb-width);
			background: var(--thumb-color);
			opacity: 0.4;
			border-radius: 2px; 
		}

		&:active::-webkit-slider-thumb {
			width: var(--thumb-width);
			transform: scaleY(1.1);
			height: $button-size * 0.8px;
			opacity: 1;
		}
	}
}
