.range-slider {
	height: calc($btn-size * 0.8);
	margin: $btn-margin;
	:global(.primary-range) {
		margin: 0;
		width: calc($btn-size * 4);
		border-radius: 2px;
        height: inherit;
		&::-webkit-slider-thumb {
			height: calc($btn-size * 0.8);
			width: var(--thumb-width);
			background: var(--thumb-color);
			opacity: 0.4;
			border-radius: 2px; 
		}

		&:active::-webkit-slider-thumb {
			width: var(--thumb-width);
			transform: scaleY(1.1);
			height: calc($btn-size * 0.8);
			opacity: 1;
		}
	}
}
