// $switch-size: calc($btn-size * 0.5);
$switch-size: 20px;

.switch {
	width: calc($switch-size * 1.8);
	height: $switch-size;
	border-radius: $switch-size;
	background: $gray-01;
	transition: all 0.15s linear;
	@media (any-hover: hover) {
		&:hover {
			background: $gray-third;
		}
	}

	.circle {
		width: calc($switch-size - 2px);
		height: calc($switch-size - 2px);
		border-radius: calc($switch-size - 2px);
		margin: 1px;
		background-color: $white-01;
		transition: all 0.15s linear;
	}
}

.switch-on {
	background: $yellow-primary;
	@media (any-hover: hover) {
		&:hover {
			background: $yellow-second;
		}
	}

	.circle {
		transform: translateX(calc($switch-size * 0.8));
	}
}
