$switch-size: calc($btn-size * 0.5);

.switch {
	width: calc($switch-size * 1.8);
	height: $switch-size;
	border-radius: $switch-size;
	background: $gray-01;
	transition: all 0.15s linear;
	&:hover {
		background: $gray-third;
	}

	.circle {
		width: calc($switch-size - 2px);
		height: calc($switch-size - 2px);
		border-radius: calc($switch-size - 2px);
		margin: 1px;
		background-color: $white-01;
		transition: all 0.15s linear;
	}
}

.switch-on {
	background: #eeea;

	.circle {
		transform: translateX(calc($switch-size * 0.8));
	}
}
