$side-width: 60px;

.slide-menu {
	position: fixed;
	left: 0;
	display: flex;
	z-index: 99;
	height: 100%;
	// transition: all 0.1s;
	backdrop-filter: blur(0px);

	&.slide-menu__extend {
		width: 100%;
		backdrop-filter: blur(40px);

		.slide-menu-bar {
			@media #{$mobileLayout} {
				display: none;
			}
		}

		.slide-menu-tab {
			width: $side-width * 5;

			@media #{$mobileLayout} {
				padding-left: 20px;
				width: 80%;
			}
		}

		.slide-menu-intro {
			flex: 1;
		}
	}

	&-bar {
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 0.8;
		padding: $side-width * 0.25 0px;
		min-width: $side-width;
		background: $gray-02;

		@media #{$mobileLayout} {
		// @media (max-width: 499px) {
			width: 0px;
			min-width: 0px;
			opacity: 1;
		}

		&-icon {
			@media #{$mobileLayout} {
				transform: translateX(100%);
			}

			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
	}

	&-tab {
		transition: all 0.2s linear;
		width: 0px;
		background: $gray-02;
		opacity: 0.8;
		overflow: hidden;
		white-space: nowrap;
		box-shadow: inset;
		position: relative;

		@media #{$mobileLayout} {
			opacity: 1;
		}

		&-title {
			font-size: 68px !important;
			text-decoration: none;
			color: $white-01;
			line-height: 92px;
			font-weight: 700;

			@media #{$mobileLayout} {
				line-height: 100px;
			}
		}

		&-item {
			color: $white-01;
			font-size: 18px;
			font-weight: 300;
			padding: 8px;
			text-decoration: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: all 0.15s linear;
			cursor: pointer;
			&:hover {
				font-weight: 400;
				padding-left: 10px;

				.slide-menu-tab-hint {
					opacity: 0.8;
				}
			}
		}

		&-hint {
			transition: all 0.15s linear;
			font-size: 12px;
			opacity: 0;
		}

		&-item-checked {
			background-color: $yellow-primary;
		}

		&-footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			@media #{$mobileLayout} {
				display: none;
			}
		}
	}

	&-intro {
		flex: 1;
		width: 0px;
		height: 100%;
	}
}

.seperate {
	width: 100%;
	height: 1px;
	background: $white-01;
	opacity: 0.2;
}
