body {
	background: $gray-01;
	color: $white-01;
	margin: 0px;
	font-family: 'Futura PT', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	user-select: none;
}

.app {
	@include flex-center(row);
	width: 100%;
	height: 100%;

	.board {
		width: 80%;
		height: 100%;
		overflow-y: scroll;
		padding-left: 16%;

		> :first-child {
			padding-top: 120px;
		}

		> :last-child {
			padding-bottom: 120px;
		}
	}
}
