.tableture-tab {
	width: $button-size * 5;
}

.tableture-list-options {
    display: flex;
    .tableture-options-range {
        @include flex-center();
        width: $button-size * 9;
    }
}

.guitar-size-slider {
    height: $button-size / 2 !important;
    width: $button-size * 6 !important;
    padding: 0 10px;
    font-size: 10px;
    display: flex;
    @include flex-center();
    flex-direction: row;
}
