.caged-range {
	display: flex;
	.caged-range-slider {
		margin-bottom: calc($btn-margin * 2);
		:global(.primary-range) {
			width: 80vw !important;
		}
	}
	.caged-range-title {
		flex: 1;
		height: auto !important;
		font-size: $font-12;
		font-weight: bold;
		opacity: 0.8;
	}
}

.caged-list {
	display: flex;
	.caged-title {
		height: auto;
		:global(.touch-yellow) {
			height: inherit;
			width: calc($btn-size);
			font-size: calc($font-22 * 2);
		}
	}
}

.my-collections-link {
	text-align: right;
	display: block;
	font-size: $font-16;
	font-weight: bold;
	opacity: 0.8;
	margin: 20px;
}
