$side-width: 60px;
$tab-height: 60px;

.slide-menu {
	display: flex;
	transition: all 0.2s ease;
	margin-left: $side-width * (-4);
	width: $side-width * 5;
	min-width: $side-width * 5;
	background: $gray-02;

	&.slide-menu__extend {
		margin-left: 0;
		.slide-menu-nav-item-name {
			display: block;
		}
	}

	&-nav {
		position: fixed;
		top: 0;
		width: inherit;
		height: 100vh;
		overflow: hidden;
		white-space: nowrap;
		background: $gray-02;

		&-title {
			font-size: 40px !important;
			line-height: 60px;
			text-decoration: none;
			color: $white-01;
			opacity: 0.8;
			font-weight: bolder;
			padding: 0 20px;
		}

		&-item {
			color: $white-01;
			font-size: $font-18;
			height: $side-width * 0.7;
			font-weight: 300;
			padding: 8px 20px;
			text-decoration: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			transition: all 0.15s ease;
			cursor: pointer;
			@media (any-hover: hover) {
				&:hover {
					font-weight: 400;
					padding-left: 24px;
				}
			}

			&-name {
				margin-left: 12px;
				flex: 1;
				display: none;
			}
		}

		&-item-checked {
			background-color: $gray-01;
			font-weight: 400;
		}

		&-footer {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}

	&-trigger {
		position: absolute;
		top: 0px;
		right: 0px;
		&-icon {
			margin: 14px 17px;
		}
	}
}

@media #{$mobileLayout} {
	.slide-menu {
		width: 100vw;
		height: $tab-height;
		margin: 0;
		position: fixed;
		bottom: 0;
		z-index: 99;
		padding-bottom: env(safe-area-inset-bottom);

		&.slide-menu__extend {
			height: $tab-height * 3;
		}

		&-nav {
			position: relative;
			height: inherit;
			width: inherit;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			&-item {
				width: 20%;
				height: $tab-height;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 0;

				&:hover {
					padding-left: unset;
				}

				&-name {
					font-size: $font-10;
					margin: 4px 0 0;
					flex: unset;
					display: block;
				}
			}

			&-item-checked {
				background-color: unset;
				color: $yellow-primary;
			}
		}

		&-tab-trigger {
			display: flex;
			justify-content: center;
			z-index: 1;
			width: 80px;
			background-color: $gray-02;
			border-radius: 10px 10px 0 0;
			position: absolute;
			top: -10px;
			height: 20px;
			left: 50%;
			transform: translateX(-50%);
			padding-top: 2px;
			&-icon {
				transition: all 0.15s ease;
				opacity: 0.6;
			}
		}
	}
}
