body {
	background: $gray-01;
	color: $white-01;
	margin: 0px;
	font-family: 'Futura PT', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent; // 点击块高亮

	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
	&::-webkit-scrollbar {
		display: none; /* Chrome Safari */
	}

	a {
		text-decoration: none;
		color: inherit;
		-webkit-tap-highlight-color: $gray-02; // 点击块高亮
	}
}

#app {
	display: flex;
	justify-content: space-between;
	min-width: 100vw;

	#board {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		padding-left: 10vw;
		padding-top: 5vh;
	}

	@media #{$pcLayout} {
		min-height: 100vh;
	}

	@media #{$mobileLayout} {
		flex-direction: column;
		#board {
			padding-left: 20px;
			padding-bottom: calc(env(safe-area-inset-bottom) + 80px);
		}
	}
}

@media print {
	header,
	footer,
	nav button,
	main section {
		display: none;
	}

	nav,
	#audio-btn {
		visibility: hidden;
	}
}
